<a href="https://colab.research.google.com/github/BishantRaj/python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)
print(3,(4))

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
3 4
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
import random
print(random.randrange(2,5))

4

In [ ]:
#typecast
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(type(x))
print(type(y))
print(type(z))
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
print(type(x))
print(type(y))
print(type(z))
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
#string

In [ ]:
a = "Hello"
print(a)

#multiline
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit."""
print(a)
#or
a = '''labore et dolore magna aliqua.'''
print(a)

#strings in Python are arrays of bytes representing unicode characters.
#However, Python does not have a character data type, a single character is simply a string with a length of 1.
#Square brackets can be used to access elements of the string

a = "Hello, World!"
print(a[1])

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit.
labore et dolore magna aliqua.
e

In [ ]:
#apply method on string
#Looping Through a String
for x in "banana":
  print(x)

#String Length
a = "Hello, World!"
print(len(a))

#Check String
txt = "The best things in life are free!"
print("free" in txt)

#Check if NOT
txt = "The best things in life are free!"
print("expensive" not in txt)
print("st" not in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

b
a
n
a
n
a
13
True
True
False
Yes, 'free' is present.

In [ ]:
#Slicing Strings
b = "Hello, World!"
print(b[2:6])

#from start
b = "Hello, World!"
print(b[:5])

#To the End
b = "Hello, World!"
print(b[2:])

#Negative Indexing
#Use negative indexes to start the slice from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

llo,
Hello
llo, World!
orl

In [ ]:
#sring method
a = "Hello, World!"
print(a.upper())
print(a.lower())
print(a.strip()) #Remove Whitespace
print(a.replace("H", "J")) #Replace String
b=a.split(",")
print(b)
print(type(b))

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']
<class 'list'>

In [ ]:
#String Concatenation
a = "Hello"
b = "World"

c = a + b
print(c)

c = a + " " + b
print(c)

age = 36
#txt = "My name is John, I am " + age   error
txt = "My name is John, and I am {}"
print(txt.format(age))

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}." #index
print(myorder.format(quantity, itemno, price))


print("We are the so-called \"Vikings\" from the north.")

print("abc"+a+"def")

print("abc\ndef")

HelloWorld
Hello World
My name is John, and I am 36
I want 3 pieces of item 567 for 49.95 dollars.
I want to pay 49.95 dollars for 3 pieces of item 567.
We are the so-called "Vikings" from the north.
abcHellodef
abc
def

In [ ]:
print(bool("Hello"))
print(bool(15))
print(bool(["apple", "cherry", "banana"]))
print(bool(""))
print(bool(0))
print(bool([]))

True
True
True
False
False
False

In [ ]:
print(4>>1)
x = 4
x >>= 1
print(x)

print(4<<1)
x = 4
x <<= 1
print(x)
x=10
print(x > 3 and x < 10)
print(x > 3 & x < 10)
print(x > 3 or x < 10)
print(x > 3 | x < 10)
print(not(x > 3 and x < 10))
print(not(x > 3 or x < 10))

print(~(5))

2
2
8
8
False
True
True
False
True
False
-6

In [ ]:
x=5
x += 3
print(x)

x -= 3
print(x)

x *= 3
print(x)

x+=2
x /= 3 #division with decimal
print(x)



x //= 3 # floor division round
print(x)

x %= 3
print(x)

8
5
15
5.666666666666667
1.0
1.0

In [ ]:
#LIST
thislist = ["apple", "banana", "cherry", "apple", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist)
print(len(thislist))

#A list can contain different data types
mylist = ["abc", 34, True, 40, "male"]

print(type(mylist))

#It is also possible to use the list() constructor when creating a new list.
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

thislist = ["apple", "banana", "cherry", "apple", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[1])

#-1 refers to the last item, -2 refers to the second last item etc.
print(thislist[-1])

print(thislist[1:4])
print(thislist[:4])
print(thislist[4:])

print(thislist[-4:-1])


#check
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist)
#change list
thislist[1] = "blackcurrant"
print(thislist)

thislist[1:6] = ["blackcurrant", "watermelon"]
print(thislist)

tlist = ["apple", "banana", "cherry"]
tlist[0:1] = ["blackcurrant", "watermelon","guava"]
print(tlist)

tlist[1:3] = ["watermelon"]
print(tlist)

thislist.insert(2, "banana")
print(thislist) #without replace

thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'cherry', 'apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'watermelon', 'kiwi', 'melon', 'mango']
['blackcurrant', 'watermelon', 'guava', 'banana', 'cherry']
['blackcurrant', 'watermelon', 'banana', 'cherry']
['apple', 'blackcurrant', 'banana', 'watermelon', 'kiwi', 'melon', 'mango']
['apple', 'blackcurrant', 'banana', 'watermelon', 'kiwi', 'melon', 'mango', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
#delete in list
thislist = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
thislist.remove("banana")
print(thislist)
#remove first occurence

thislist.pop(1)
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

thislist.clear()
print(thislist)

del thislist #complete del
print(thislist) #error

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i], end =" ")
print()

i = 0
while i < len(thislist):
  print(thislist[i], end =" "),
  i = i + 1
print()

apple banana cherry
apple banana cherry
apple
banana
cherry

[None, None, None]

In [ ]:
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
[print(x) for x in fruits]

newlist = []

for x in fruits:
  if "a" in x: #add only those element which has a letter in it
    newlist.append(x)
print(newlist)


newlist = [x for x in fruits if "a" in x]
print(newlist)

apple
banana
cherry
kiwi
mango
['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [ ]:
#sorting
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)


thislist = ["orange", "Mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

#By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
#to overcome
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

#The reverse() method reverses the current sorting order of the elements.
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)


#Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'kiwi', 'banana', 'Mango']
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']
[50, 65, 23, 82, 100]

In [ ]:
#You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

#or

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)


#join list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

list1.extend(list2)
print(list1)

In [ ]:
#Tuples
#A tuple is a collection which is  ordered, unchangeable, and allow duplicate values.
#we cannot change, add or remove items after the tuple has been created.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))


thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')
<class 'tuple'>
<class 'tuple'>
('apple', 'banana', 'cherry')

In [ ]:
#access same as list
#You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

#If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)


fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

apple
banana
cherry
apple
['mango', 'papaya', 'pineapple']
cherry
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#SET
#Set items are unordered, unchangeable, and do not allow duplicate values.
#Once a set is created, you cannot change its items, but you can remove items and add new items.

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

#The values True and 1 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)


for x in thisset:
  print(x,end=" ")
print()
print("banana" in thisset)

thisset.add("orange")
print(thisset)


tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).


thisset.remove("banana")
print(thisset)
# If the item to remove does not exist, remove() will raise an error.

thisset.discard("banana")
print(thisset)
#If the item to remove does not exist, discard() will NOT raise an error.

x = thisset.pop()
print(x)
print(thisset)

thisset.clear()
del thisset

{'cherry', 'banana', 'apple'}
{'cherry', 2, True, 'apple', 'banana'}
cherry 2 True apple banana
True
{'cherry', 2, True, 'apple', 'orange', 'banana'}
{'papaya', 'cherry', 2, True, 'apple', 'pineapple', 'orange', 'banana', 'mango'}
{'papaya', 'cherry', 2, True, 'apple', 'pineapple', 'orange', 'mango'}
{'papaya', 'cherry', 2, True, 'apple', 'pineapple', 'orange', 'mango'}
papaya
{'cherry', 2, True, 'apple', 'pineapple', 'orange', 'mango'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

set1.update(set2)
print(set1)

#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

z = x.intersection(y)
print(z)

#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

In [ ]:
#Dictionary
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(thisdict["brand"])

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

print(len(thisdict))

thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

#access
x = thisdict.get("model")
print(x)

x = thisdict.keys()
print(x)

print(type(x))

x = thisdict.values()
print(x)
print(type(x))

if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

#change
thisdict["year"] = 2018

thisdict.update({"year": 2020})

#add
thisdict["color"] = "red"
print(thisdict)

thisdict.update({"color": "red"})

#del
thisdict.pop("model")
print(thisdict)

thisdict.popitem()
print(thisdict)  #popitem() method removes the last inserted item

del thisdict["model"]
print(thisdict)
thisdict.clear()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
3
{'name': 'John', 'age': 36, 'country': 'Norway'}
None
dict_keys(['name', 'age', 'country'])
<class 'dict_keys'>
dict_values(['John', 36, 'Norway'])
<class 'dict_values'>

In [ ]:
#loop in dict
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict:
  print(x,end=" ")
print()


for x in thisdict:
  print(thisdict[x],end=" ")
print()

for x in thisdict.values():
  print(x,end=" ")
print()

for x in thisdict.keys():
  print(x,end=" ")
print()

for x, y in thisdict.items():
  print(x, y,end=" ")
print()

mydict = thisdict.copy() #for copy

brand model year
Ford Mustang 1964
Ford Mustang 1964
brand model year
brand Ford model Mustang year 1964

In [3]:
#nested dict
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily["child2"])

print(myfamily["child2"]["name"])

{'name': 'Tobias', 'year': 2007}
Tobias

In [6]:
#if else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

#short
a = 2
b = 330
print("A") if a > b else print("B")

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

a is greater than b
B
=

In [ ]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

#for loop
for x in range(2, 6):
  print(x)

for x in range(2, 30, 3):
  print(x)
#Increment the sequence with 3 (default is 1):

for x in range(6):
  print(x)
else:
  print("Finally finished!")

#for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
  pass

In [13]:
#function
#In Python a function is defined using the def keyword:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Emil")


#If the number of arguments is unknown, add a * before the parameter name:
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His name is " +kid["fname"]+" "+ kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)
my_function("India")
my_function()

#if function definition with no content, put in the pass statement to avoid getting an error.
def myfunction():
  pass

Emil Refsnes
The youngest child is Linus
His name is Tobias Refsnes
I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [17]:
#LAMBDA
#A lambda function can take any number of arguments, but can only have one expression.
x = lambda a : a + 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

#funct*lambda
def myfunc(n):
  return lambda a : a * n
print(myfunc(2))
mydoubler = myfunc(2)
print(mydoubler)
print(mydoubler(11))

15
30
<function myfunc.<locals>.<lambda> at 0x7dd9c0ba4790>
<function myfunc.<locals>.<lambda> at 0x7dd9c0ba4790>
22

In [31]:
#ARRAY
cars = ["Ford", "Volvo", "BMW"]
cars[0]

cars[0] = "Toyota"

x = len(cars)

for x in cars:
  print(x)

cars.append("Honda")
print(cars)
cars.pop(2)
cars.remove("Volvo")
print(cars)

print(cars.count("Toyota"))
print(cars.index("Toyota"))


cars.insert(1,"PUNCH")
print(cars)

cars.reverse()
print(cars)
cars.sort()
print(cars)
cars.insert(1,3)
cars.sort() #error

Toyota
Volvo
BMW
['Toyota', 'Volvo', 'BMW', 'Honda']
['Toyota', 'Honda']
1
0
['Toyota', 'PUNCH', 'Honda']
['Honda', 'PUNCH', 'Toyota']
['Honda', 'PUNCH', 'Toyota']

In [52]:
#CLASS
class c1:
  def __init__(self,name,rank):
    self.name=name
    self.rank=rank

  def p(self):
    print(f"name is {self.name} and rank is {self.rank}")

  def q(self):
    print("name is "+self.name)

a=c1("abc",3)
a.p()
a.q()
a.age=15
print(f"{a.name} {a.rank} {a.age}")

name is abc and rank is 3
name is abc
abc 3 15

In [18]:
#Single INHERITANCE

class parent:
  print("parent")

class child(parent):
  print("child")

o=child()

print("==============================================")
class Parent:
    def func1(self):
        print("This function is in parent class.")
class Child(Parent):
    def func2(self):
        print("This function is in child class.")

object = Child()
object.func1()
object.func2()

parent
child
==============================================
This function is in parent class.
This function is in child class.

In [20]:
#multilevel INHERITANCE

class grandparent:
  print("G-parent")

class parent(grandparent):
  print("parent")

class child(parent):
  print("child")

o=child()

print("==============================================")


class Grandfather:

    def __init__(self, grandfathername):
        self.grandfathername = grandfathername

class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        Grandfather.__init__(self, grandfathername)

class Son(Father):
    def __init__(self, sonname, fathername, grandfathername):
        self.sonname = sonname

        Father.__init__(self, fathername, grandfathername)

    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)

s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

G-parent
parent
child
==============================================
Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [19]:
#multiple inheritance
class parent1:
  print("parent1")

class parent2(parent1):
  print("parent2")

class parent3(parent1):
  print("parent3")

class child(parent3,parent2):
  print("child1")
o=child()


print()
class child2(parent2,parent3):
  print("child2")

o=child2()

print("==============================================")

class Mother:
    mothername = ""

    def mother(self):
        print(self.mothername)
class Father:
    fathername = ""

    def father(self):
        print(self.fathername)

class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)

s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

parent1
parent2
parent3
child1

child2
==============================================
Father : RAM
Mother : SITA

In [21]:
#hierarchial
class parent:
  print("parent")

class child(parent):
  print("child")

class child2(parent):
  print("child2")
o=child()
ob=child2()

print("==============================================")

class Parent:
    def func1(self):
        print("This function is in parent class.")

class Child1(Parent):
    def func2(self):
        print("This function is in child 1.")

class Child2(Parent):
    def func3(self):
        print("This function is in child 2.")
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

parent
child
child2
==============================================
This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.